<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Navegação</h3>
      <ul>
        <li><a href="#">Mangá Populares</a></li>
        <li><a href="#">Recomendações</a></li>
        <li><a href="#">Calendário de Lançamentos</a></li>
        <li><a href="#">Notícias</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contate-nos</h3>
      <ul>
        <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
        <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i> X</a></li> <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fab fa-tiktok"></i> TikTok</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>HenShiro</h3> <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Centro de Ajuda</a></li>
        <li><a href="#">Termos de Uso</a></li>
        <li><a href="#">Política de Privacidade</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Conta</h3>
      <ul>
        <li><a routerLink="/cadastro" routerLinkActive="active">Criar Conta</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </div>
</footer>