.dark-mode body {
    background-color: #1c1c1c;
    color: #ffffff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#CA0013, #8d0000, #bb2828 );
  }
  
  .search-bar {
    border-radius: 5px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    width: 40%;
  }
  
  button, .profile-button {
    text-align: center;
    padding: 12px 20px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .dark-mode .manga-card {
    background-color: #333;
  }
  
  .dark-mode .manga-card button {
    background-color: #666;
  }