<header class="navbar">
  <div class="navbar-brand">
    <img src="ilustracao.png" alt="Logo do App" class="navbar-logo" />
    </div>

  <input type="text" placeholder="Pesquisar mangá..." class="search-bar" />

  <nav class="navbar-nav-links">
    <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <button class="profile-button">Home</button>
    </a>
    <a routerLink="/perfil" routerLinkActive="active" class="nav-link profile-nav-link">
        <button class="profile-button">Perfil</button>
    </a>
     <a routerLink="/planos" routerLinkActive="active" class="nav-link">
        <button class="profile-button">Planos</button>
    </a>
    <button (click)="toggleTheme()" class="theme-button">
      {{ isDarkMode ? 'Modo Claro' : 'Modo Escuro' }}
    </button>
  </nav>
</header>