<header class="navbar">
  <div class="navbar-brand">
    <img src="ilustracao.png" alt="Logo do App" class="navbar-logo" />
  </div>

  <nav class="navbar-nav-links">
    <a routerLink="/home" routerLinkActive="active" class="nav-link">
      <button class="profile-button">Início</button>
    </a>
    <a routerLink="/perfil" routerLinkActive="active" class="nav-link profile-nav-link">
      <button class="profile-button">Perfil</button>
    </a>
    <a routerLink="/planos" routerLinkActive="active" class="nav-link">
      <button class="profile-button">Planos</button>
    </a>
  </nav>

  <input type="text" placeholder="Escreva o nome do mangá" class="search-bar" />
</header>
