section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-section {
    height: 100%;
    gap: 5px;
    flex-grow: 1;
    /*background-color: #eeebe3;*/
}

.form-section {
    height: 100%;
    flex-grow: 0.3;
    padding: 0 35px;
    background-color: #eeebe3;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #CA0013;
}

.grupo-botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;

    &:disabled {
        opacity: 0.6;
    }
}

.botao-primario {
    background-color: #CA0013;
    color: #eeebe3;
}

.botao-secundario {
    border: 1px solid #CA0013;
    color: #CA0013;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    color: #CA0013;
    font-weight: 400;
    text-transform: uppercase;
}

.barra-divisao {
    flex-grow: 1;
    height: 1px;
    background-color: #CA0013;
}

.imagem-main {
    width: 500px;
}

.imagem-logo {
    width: 100px;
    margin-bottom: 20px;
    padding-top: 10px;
}