<main>
    <section class="form-section">
        <img class="imagem-logo" src="images.png">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="grupo-botoes">
            <button class="botao-primario" (click)="submit()">{{ botaoPrimario }}</button>
            <div class="divisor">
                <div class="barra-divisao"></div>
                <span>ou</span>
                <div class="barra-divisao"></div>
            </div>
            <button class="botao-secundario">{{ botaoSecundario }}</button>
        </div>
    </section>
    <section class="main-section">
        <!--<h1>HenShiro, seja bem-vindo!</h1>-->
        <img class="imagem-main" src="ilustracao.png">
    </section>
</main>