<app-default-login-layout 
    title="HenShiro, seja bem-vindo!"
    botaoPrimario="Entrar"
    botaoSecundario="Cadastrar"
    (submit)="submit()"
    (navigate)="navigate()"
>

    <form [formGroup]="loginForm">
        <app-input-primario
            formControlName="email"
            inputName="email"
            type="email"
            placeholder="Digite seu e-mail*"
        >

        </app-input-primario>
            <app-input-primario
            formControlName="senha"
            inputName="senha"
            type="password"
            placeholder="Digite sua senha*"
        >
    </app-input-primario>
    <span>Esqueceu sua senha?</span>
    </form>

</app-default-login-layout>