<app-default-login-layout 
    title="Realize aqui seu cadastro"
    botaoPrimario="Cadastrar"
    botaoSecundario="Voltar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disableBotaoPrimario]="!cadastroForm.valid"
>
    <form [formGroup]="cadastroForm">
        <app-input-primario
            formControlName="name"
            inputName="name"
            placeholder="Nome de Usuário"
            type="text"
        >
        </app-input-primario>

        <app-input-primario
            formControlName="email"
            inputName="email"
            type="email"
            placeholder="E-mail"
        >
        </app-input-primario>

        <app-input-primario
            formControlName="senha"
            inputName="password"
            type="password"
            placeholder="Senha"
        >
        </app-input-primario>

        <app-input-primario
            formControlName="confirmSenha"
            inputName="password"
            placeholder="Confirmar sua senha"
            type="password"
        >
        </app-input-primario>
    </form>
</app-default-login-layout>
<br>
<br>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Plano</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of clientes">
            <td>{{c.id}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.idade}}</td>
            <td>{{c.email}}</td>
            <td>{{c.plano}}</td>
            <td></td>
        </tr>
    </tbody>
</table>